body {
    background-image: url("../images/bg-throne.jpg");
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    text-align: center;
  }

  .container {
      height: auto;
      width: 100%;
      min-width: 400px;
      max-width: 400px;
      background: radial-gradient(cornflowerblue, #3557ce80);
      font: gold;
  }
  
  h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 42px;
    color: #ffffff;
    padding: 13px;
  }

   #maingame {
    font-family: 'Amatic SC', cursive;
    font-size: 42px;
    padding: 13px;
    margin: 10px;
    color: #ffffff;
  }

  input {
      height: 70px;
      border: none;
  }
  
  h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 36px;
    padding: 7px;
    color: #ffffff;
  }

  h5 {
    font-family: 'Amatic SC', cursive;
    font-size: 36px;
    padding: 7px;
    color: #ffffff;
  }

  #startButton {
    font-family: 'Amatic SC', cursive;
    font-size: 36px;
    padding: 7px;
    margin: 10px;
    color: #ffffff;
  }

  p {
    font-family: 'Amatic SC', cursive;
    font-size: 36px;
    padding: 7px;
    color: #ffffff;
  }

  .question {
    font-family: 'Amatic SC', cursive;
    font-size: 36px;
    padding: 7px;
    color: #ffffff;
  }


  button {
    font-family: 'Amatic SC', cursive;
    background-color: lightslategrey;
    border-radius: 25px;
    text-decoration: none;
    border: darkred 5px;
    font-size: 32px;
    padding: 10px;
    margin: 5px;
    color: #ffffff;
  }

  .btn {
    font-family: 'Amatic SC', cursive;
    background-color: lightslategrey;
    border-radius: 25px;
    text-decoration: none;
    border: darkred 5px;
    font-size: 32px;
    padding: 10px;
    margin: 5px;
    color: #ffffff;
  }

  #flexcont {
    display: flex; /* or inline-flex */
    flex-direction: row;
    justify-content: space-between;
  }
  #ritem {

  }